* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fredoka;
  font-weight: 700;
  
}
.debug {
  border: 1px solid white;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-reverse {
  display: flex;
  justify-content: flex-end;
}
body {
  background-color: black;
  color: hsl(0deg 0% 35%);
  
}
.wrapper {
  height: 100vh;
  width: 100%;
}
.wrapper-content {
  width: 100%;
  height: calc(100% - 90px);

  display: flex;
}
/* aside */
aside {
  height: 100%;
  width: 250px;
  background-color: hsl(0deg 0% 0%);
}
.logo {
  width: 125px;
  margin: 20px;
  z-index: 2000;
}
/* HOME SEARCH LIBRARY  */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.menu {
  margin-left: 20px;
  height: 120px;
  z-index: 1000;
  background-color: black;
}
ul li {
  list-style-type: none;
  display: flex;
}
.menu ul li {
  font-size: 17px;
  padding: 5px;
  height: 40px;
}
.menu ul li p {
  margin-left: 5px;
}
.menu-img {
  width: 25px;
  height: 25px;
}
/* PLAYLIST */
.playlist {
  margin-top: 20px;
  margin-left: 20px;
  line-height: 4ex;
  height: 300px;
}
.playlist h3 {
  color: white;
}
.fa-plus {
  width: 30px;
  height: 30px;
  background-color: hsl(0deg 0% 64%);
  color: black;
  margin-right: 10px;
}

/* DOWNLOAD ACCOUNT */
.aside-footer {
  margin: 20px;
  padding: 10px;
  position: relative;
  bottom: -80px;
  left: 0%;
  width: 220px;
  background-color: black;
}
.fa-arrow-down {
  border: 1px solid hsl(0deg 0% 35%);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.download {
  display: flex;
}
.profile {
  margin-top: 10px;
  border-top: 2px solid hsl(0deg 0% 35%);
  padding-top: 20px;
  color: white;
}

/*  main */
main {
  width: calc(100% - 250px);
  background-color: hsl(219deg 26% 11%);
} /* nav top */
.nav-top {
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  width: 100%;
  height: 90px;
  position: fixed;

}
.nav-top p {
  margin: 30px;
  border: 1px solid white;
  border-radius: 40px;
  padding: 10px 40px;
  padding-bottom: 30px;
  color: white;
  cursor: pointer;
}
/* /nav top END */
section{
  margin: 20px;
}
section h2{
  color: white;
  margin-bottom: 10px;

}

/* CONTENT */
.content {
  padding-top: 90px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  
 } 
.explore{
  width: 100%;

}
.content ul li:hover{
  border-bottom: 2px solid  green;
  
  

}
.content ul{
  display: flex;
  justify-content: center;
  align-items:center ;
  flex-wrap: wrap;
  
}

.content ul li {
margin:10px ;
text-transform: uppercase;

  
}
.row{
  display: flex;
  flex-flow: row wrap;

}
.content-img img{

  width: 100%;
  padding: 5px;
  
}

.content-img{
  width: calc(100% / 6);
  text-align: center;
  position: relative;
  
}

.content-img i{
  display: none;
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
.content-img img:hover + i{
  display: block;
  cursor: pointer;
}
.content-img h3{
  color: white;
  font-size: 15px;
}

/* nav bottom */
footer {
  height: 90px;
  width: 100%;
  background-color: hsl(0deg 0% 16%);
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* nav bottom  left */
.left-bottom img {
  width: 50px;
  height: 50px;
  margin: 10px;
}
.left-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.like-n-save {
  margin-left: 40px;
}
.like-n-save i {
  margin-left: 10px;
}
/* nav bottom  center*/
.center-bottom {
  width: 30%;
}

.music-options {
  display: flex;
  justify-content: center;
}
.music-options i {
  margin: 10px;
  font-size: 25px;
  color: white;
}
.music {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

/* nav bottom  right*/
.right-bottom {
  display: flex;
}
.right-bottom div {
  margin: 10px;
}








.aside-footer h3:hover {
  color: green;
  cursor: pointer;
}
.download:hover {
  color: green;
  cursor: pointer;
}
i:hover {
  color: green;
  cursor: pointer;
}
ul li:hover {
  color: white;
  cursor: pointer;
}



.nav-top p:hover {
  padding-top: 13px ;
  padding-bottom: 32px;
  padding-left: 50px;
  padding-right: 50px;

}

 /* .content-img img:hover{
  opacity: .5;
  cursor: pointer;
  
}  */